// Apps__Section style
$background-apps: #043873;
$background-apps-button: #4f9cf9;
$color-1: #fff;
@mixin apps {
  color: $color-1;
  text-align: center;
}
#apps__section {
max-width: 100%;
  background-image: url(../img/Element.png);
  background-color: $background-apps;
  background-size: cover;
  padding: 14rem 0;
  .apps__section-img {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
    img {
      width: 48.5rem;
      height: 39.3rem;
    }
  }
  .apps__section-text {
    padding: 0 2rem;
    h2 {
      @include apps;
      font-size: 5.4rem;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.108rem;
      margin-bottom: 2.4rem;
      + p {
        @include apps;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 3rem;
        letter-spacing: -0.036rem;
        margin-bottom: 6rem;
      }
    }
    button {
      border-radius: 0.6rem;
      background: $background-apps-button;
      padding: 2rem 4rem;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin: 0 auto;
      a {
        color: $color-1;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.3rem;
      }
      a {
        i {
          font-size: 3rem;
        }
      }
    }
  }
}
<<<<<<< HEAD
@media screen and (max-width:320px) {
  .container{
    width:288px
  }
  
  
}
@media screen and (min-width: 768px) {
  .container {
    width: 728rem;
=======
@media screen and (min-width: 738px) {
  .a_container {
    width: 138rem;
>>>>>>> 269cd5ee713ddd96a8c4c56789ce845476c80b14
  }
  #apps__section {
    .appses {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10rem;
      .apps__section-img {
        img {
          width: 58.2rem;
          height: 47.0796rem;
        }
      }
      .apps__section-text {
        padding: 0;
        h2 {
          text-align: start;
          font-size: 7.2rem;
          letter-spacing: -0.144rem;
        }
        p {
          text-align: left;
        }
        button {
          margin: 0;
        }
      }
    }
  }
}
