header {
  background-color: $color_kok;
}
nav {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  padding: 16px 0;
  margin-bottom: 100px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  h1 {
    font-size: 28px;
    font-weight: 700;
    color: white;
  }
}
.nav_right {
  display: flex;
  gap: 60px;
  align-items: center;
  ul {
    display: flex;
    gap: 32px;
  }
}
select {
  border: none;
  background-color: $color_kok;
  color: white;
  font-weight: 500;
  font-size: $font_size_primary;
}
.nav_btn {
  display: flex;
  gap: 24px;
  .login {
    font-weight: 500;
    font-size: $font_size_primary;
    color: $color_kok;
    padding: 16px 40px;
    border-radius: 8px;
    background: #ffe492;
  }
  .log2 {
    font-weight: 500;
    font-size: $font_size_primary;
    color: white;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: $color_och_kok;
    img {
      margin-left: 10px;
    }
  }
  .menu_bar {
    display: none;
  }
}

@media screen and (max-width: 1350px) {
  nav {
    margin-bottom: 140px;
  }
  .nav_right {
    ul {
      display: none;
    }
    .nav_btn {
      .menu_bar {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 1016px) {
  .nav_btn > button {
    display: none;
  }
}

@media screen and (max-width: 721px) {
  .navbar {
    max-width: 90%;
  }
  nav {
    margin-bottom: 0;
  }
  .logo {
    gap: 7.02px;
    img {
      width: 25.958px;
      height: 20.346px;
    }
    h1 {
      font-size: 19.644px;
    }
  }
}
// @media screen and (max-width:320px){
//     .container{
//         max-width: 90%;
//         margin: 0 auto;
//     }
//     .logo{
//         display: flex;
//         align-items: center;
//         gap: 7.02px;
//         img{
//             width: 26;
//             height: 20px;
//         }
//         h1{
//             font-size: 19.644px;
//             font-weight: 700;
//             color: white;
//         }
//     }
//     .nav_right{
//         ul{
//             display:  none;
//         }
//         .nav_btn>button{
//             display: none;
//         }
//     }
// }
//
//
